{
  "metadata": {
    "configurationVersions": [
      7
    ],
    "clusterVersion": "1.272.91.20230803-105115"
  },
  "dashboardMetadata": {
    "name": "${DASHBOARD_NAME}",
    "shared": false,
    "owner": "${EMAIL_RECEPIENTS}",
    "tags": [
      "cac_managed",
      "@mz-az-tech-dagobert"
    ],
    "tilesNameSize": "medium",
    "hasConsistentColors": false
  },
  "tiles": [
    {
      "name": "CPU Usage",
      "tileType": "DATA_EXPLORER",
      "configured": true,
      "bounds": {
        "top": 38,
        "left": 38,
        "width": 494,
        "height": 418
      },
      "tileFilter": {},
      "isAutoRefreshDisabled": false,
      "customName": "Data explorer results",
      "queries": [
        {
          "id": "A",
          "spaceAggregation": "AUTO",
          "timeAggregation": "DEFAULT",
          "splitBy": [
            "dt.entity.relational_database_service.name",
            "dt.entity.relational_database_service"
          ],
          "metricSelector": "builtin:cloud.aws.rds.cpu.usage:filter(eq("tag","${DB_TAGS}")):splitBy("dt.entity.relational_database_service"):names:sort(dimension(\"dt.entity.relational_database_service.name\",descending)):limit(20)",
          "rate": "NONE",
          "enabled": true
        }
      ],
      "visualConfig": {
        "type": "GRAPH_CHART",
        "global": {
          "hideLegend": false
        },
        "rules": [
          {
            "matcher": "A:",
            "properties": {
              "color": "DEFAULT"
            },
            "seriesOverrides": []
          }
        ],
        "axes": {
          "xAxis": {
            "displayName": "",
            "visible": true
          },
          "yAxes": [
            {
              "displayName": "",
              "visible": true,
              "min": "AUTO",
              "max": "AUTO",
              "position": "LEFT",
              "queryIds": [
                "A"
              ],
              "defaultAxis": true
            }
          ]
        },
        "heatmapSettings": {
          "yAxis": "VALUE",
          "showLabels": false
        },
        "thresholds": [
          {
            "axisTarget": "LEFT",
            "rules": [
              {
                "value": 0,
                "color": "#7dc540"
              },
              {
                "value": ${CPU_THRESHOLD_ORANGE},
                "color": "#f5d30f"
              },
              {
                "value": ${CPU_THRESHOLD_ORANGE},
                "color": "#dc172a"
              }
            ],
            "queryId": "",
            "visible": true
          }
        ],
        "tableSettings": {
          "isThresholdBackgroundAppliedToCell": false,
          "hiddenColumns": []
        },
        "graphChartSettings": {
          "connectNulls": false
        },
        "honeycombSettings": {
          "showHive": true,
          "showLegend": true,
          "showLabels": false
        }
      },
      "queriesSettings": {
        "resolution": ""
      },
      "metricExpressions": [
        "resolution=null&(builtin:cloud.aws.rds.cpu.usage:filter(eq("tag","${DB_TAGS}")):splitBy("dt.entity.relational_database_service"):names:sort(dimension(\"dt.entity.relational_database_service.name\",descending)):limit(20)):limit(100):names"
      ]
    },
    {
      "name": "ReadIOPS",
      "tileType": "DATA_EXPLORER",
      "configured": true,
      "bounds": {
        "top": 38,
        "left": 570,
        "width": 494,
        "height": 418
      },
      "tileFilter": {},
      "isAutoRefreshDisabled": false,
      "customName": "Data explorer results",
      "queries": [
        {
          "id": "A",
          "spaceAggregation": "AUTO",
          "timeAggregation": "DEFAULT",
          "splitBy": [
            "dt.entity.relational_database_service.name",
            "dt.entity.relational_database_service"
          ],
          "metricSelector": "builtin:cloud.aws.rds.ops.read:filter(eq("tag","${DB_TAGS}")):splitBy("dt.entity.relational_database_service"):names:sort(dimension(\"dt.entity.relational_database_service.name\",descending)):limit(20)",
          "rate": "NONE",
          "enabled": true
        }
      ],
      "visualConfig": {
        "type": "GRAPH_CHART",
        "global": {
          "hideLegend": false
        },
        "rules": [
          {
            "matcher": "A:",
            "properties": {
              "color": "DEFAULT"
            },
            "seriesOverrides": []
          }
        ],
        "axes": {
          "xAxis": {
            "displayName": "",
            "visible": true
          },
          "yAxes": [
            {
              "displayName": "",
              "visible": true,
              "min": "AUTO",
              "max": "AUTO",
              "position": "LEFT",
              "queryIds": [
                "A"
              ],
              "defaultAxis": true
            }
          ]
        },
        "heatmapSettings": {
          "yAxis": "VALUE",
          "showLabels": false
        },
        "thresholds": [
          {
            "axisTarget": "LEFT",
            "rules": [
              {
                "value": 0,
                "color": "#7dc540"
              },
              {
                "value": ${READIOPS_THRESHOLD_ORANGE},
                "color": "#f5d30f"
              },
              {
                "value": ${READIOPS_THRESHOLD_RED},
                "color": "#dc172a"
              }
            ],
            "queryId": "",
            "visible": true
          }
        ],
        "tableSettings": {
          "isThresholdBackgroundAppliedToCell": false,
          "hiddenColumns": []
        },
        "graphChartSettings": {
          "connectNulls": false
        },
        "honeycombSettings": {
          "showHive": true,
          "showLegend": true,
          "showLabels": false
        }
      },
      "queriesSettings": {
        "resolution": "1m"
      },
      "metricExpressions": [
        "resolution=1m&(builtin:cloud.aws.rds.ops.read:filter(eq("tag","${DB_TAGS}")):splitBy("dt.entity.relational_database_service"):names:sort(dimension(\"dt.entity.relational_database_service.name\",descending)):limit(20)):limit(100):names"
      ]
    },
    {
      "name": "WriteIOPS",
      "tileType": "DATA_EXPLORER",
      "configured": true,
      "bounds": {
        "top": 38,
        "left": 1102,
        "width": 494,
        "height": 418
      },
      "tileFilter": {},
      "isAutoRefreshDisabled": false,
      "customName": "Data explorer results",
      "queries": [
        {
          "id": "A",
          "spaceAggregation": "AUTO",
          "timeAggregation": "DEFAULT",
          "splitBy": [
            "dt.entity.relational_database_service.name",
            "dt.entity.relational_database_service"
          ],
          "metricSelector": "builtin:cloud.aws.rds.ops.write:filter(eq("tag","${DB_TAGS}")):splitBy("dt.entity.relational_database_service"):names:sort(dimension(\"dt.entity.relational_database_service.name\",descending)):limit(20)",
          "rate": "NONE",
          "enabled": true
        }
      ],
      "visualConfig": {
        "type": "GRAPH_CHART",
        "global": {
          "hideLegend": false
        },
        "rules": [
          {
            "matcher": "A:",
            "properties": {
              "color": "DEFAULT"
            },
            "seriesOverrides": []
          }
        ],
        "axes": {
          "xAxis": {
            "displayName": "",
            "visible": true
          },
          "yAxes": [
            {
              "displayName": "",
              "visible": true,
              "min": "AUTO",
              "max": "AUTO",
              "position": "LEFT",
              "queryIds": [
                "A"
              ],
              "defaultAxis": true
            }
          ]
        },
        "heatmapSettings": {
          "yAxis": "VALUE",
          "showLabels": false
        },
        "thresholds": [
          {
            "axisTarget": "LEFT",
            "rules": [
              {
                "value": 0,
                "color": "#7dc540"
              },
              {
                "value": ${WRITEIOPS_THRESHOLD_ORANGE},
                "color": "#f5d30f"
              },
              {
                "value": ${WRITEIOPS_THRESHOLD_RED},
                "color": "#dc172a"
              }
            ],
            "queryId": "",
            "visible": true
          }
        ],
        "tableSettings": {
          "isThresholdBackgroundAppliedToCell": false,
          "hiddenColumns": []
        },
        "graphChartSettings": {
          "connectNulls": false
        },
        "honeycombSettings": {
          "showHive": true,
          "showLegend": true,
          "showLabels": false
        }
      },
      "queriesSettings": {
        "resolution": ""
      },
      "metricExpressions": [
        "resolution=null&(builtin:cloud.aws.rds.ops.write:filter(eq("tag","${DB_TAGS}")):splitBy("dt.entity.relational_database_service"):names:sort(dimension(\"dt.entity.relational_database_service.name\",descending)):limit(20)):limit(100):names"
      ]
    },
    {
      "name": "SWAP",
      "nameSize": "medium",
      "tileType": "DATA_EXPLORER",
      "configured": true,
      "bounds": {
        "top": 456,
        "left": 304,
        "width": 494,
        "height": 380
      },
      "tileFilter": {},
      "isAutoRefreshDisabled": false,
      "customName": "Data explorer results",
      "queries": [
        {
          "id": "A",
          "spaceAggregation": "AUTO",
          "timeAggregation": "DEFAULT",
          "splitBy": [
            "dt.entity.relational_database_service.name",
            "dt.entity.relational_database_service"
          ],
          "metricSelector": "builtin:cloud.aws.rds.memory.swap:filter(eq("tag","${DB_TAGS}")):splitBy("dt.entity.relational_database_service"):names:sort(dimension(\"dt.entity.relational_database_service.name\",descending)):limit(20)",
          "rate": "NONE",
          "enabled": true
        }
      ],
      "visualConfig": {
        "type": "GRAPH_CHART",
        "global": {
          "hideLegend": false
        },
        "rules": [
          {
            "matcher": "A:",
            "unitTransform": "GigaByte",
            "valueFormat": "auto",
            "properties": {
              "color": "DEFAULT",
              "seriesType": "LINE"
            },
            "seriesOverrides": []
          }
        ],
        "axes": {
          "xAxis": {
            "displayName": "",
            "visible": true
          },
          "yAxes": [
            {
              "displayName": "",
              "visible": true,
              "min": "AUTO",
              "max": "AUTO",
              "position": "LEFT",
              "queryIds": [
                "A"
              ],
              "defaultAxis": true
            }
          ]
        },
        "heatmapSettings": {
          "yAxis": "VALUE",
          "showLabels": false
        },
        "thresholds": [
          {
            "axisTarget": "LEFT",
            "rules": [
              {
                "value": 0,
                "color": "#7dc540"
              },
              {
                "value": ${SWAP_THRESHOLD_ORANGE},
                "color": "#f5d30f"
              },
              {
                "value":  ${SWAP_THRESHOLD_RED},
                "color": "#dc172a"
              }
            ],
            "queryId": "",
            "visible": true
          }
        ],
        "tableSettings": {
          "isThresholdBackgroundAppliedToCell": false,
          "hiddenColumns": []
        },
        "graphChartSettings": {
          "connectNulls": false
        },
        "honeycombSettings": {
          "showHive": true,
          "showLegend": true,
          "showLabels": false
        }
      },
      "queriesSettings": {
        "resolution": "1m"
      },
      "metricExpressions": [
        "resolution=1m&(builtin:cloud.aws.rds.memory.swap:filter(eq("tag","${DB_TAGS}")):splitBy("dt.entity.relational_database_service"):names:sort(dimension(\"dt.entity.relational_database_service.name\",descending)):limit(20)):limit(100):names"
      ]
    },
    {
      "name": "Memory",
      "tileType": "DATA_EXPLORER",
      "configured": true,
      "bounds": {
        "top": 456,
        "left": 836,
        "width": 494,
        "height": 380
      },
      "tileFilter": {},
      "isAutoRefreshDisabled": false,
      "customName": "Data explorer results",
      "queries": [
        {
          "id": "A",
          "spaceAggregation": "AUTO",
          "timeAggregation": "DEFAULT",
          "splitBy": [
            "dt.entity.relational_database_service.name",
            "dt.entity.relational_database_service"
          ],
          "metricSelector": "builtin:cloud.aws.rds.memory.freeable:filter(eq("tag","${DB_TAGS}")):splitBy("dt.entity.relational_database_service"):names:sort(dimension(\"dt.entity.relational_database_service.name\",descending)):limit(20)",
          "rate": "NONE",
          "enabled": true
        }
      ],
      "visualConfig": {
        "type": "GRAPH_CHART",
        "global": {
          "hideLegend": false
        },
        "rules": [
          {
            "matcher": "A:",
            "unitTransform": "MebiByte",
            "valueFormat": "auto",
            "properties": {
              "color": "DEFAULT",
              "seriesType": "LINE"
            },
            "seriesOverrides": []
          }
        ],
        "axes": {
          "xAxis": {
            "displayName": "",
            "visible": true
          },
          "yAxes": [
            {
              "displayName": "",
              "visible": true,
              "min": "AUTO",
              "max": "AUTO",
              "position": "LEFT",
              "queryIds": [
                "A"
              ],
              "defaultAxis": true
            }
          ]
        },
        "heatmapSettings": {
          "yAxis": "VALUE",
          "showLabels": false
        },
        "thresholds": [
          {
            "axisTarget": "LEFT",
            "rules": [
              {
                "value": ${SWAP_THRESHOLD_ORANGE},
                "color": "#7dc540"
              },
              {
                "value": ${SWAP_THRESHOLD_RED},
                "color": "#f5d30f"
              },
              {
                "value": 0,
                "color": "#dc172a"
              }
            ],
            "queryId": "",
            "visible": true
          }
        ],
        "tableSettings": {
          "isThresholdBackgroundAppliedToCell": false,
          "hiddenColumns": []
        },
        "graphChartSettings": {
          "connectNulls": true
        },
        "honeycombSettings": {
          "showHive": true,
          "showLegend": true,
          "showLabels": false
        }
      },
      "queriesSettings": {
        "resolution": ""
      },
      "metricExpressions": [
        "resolution=null&(builtin:cloud.aws.rds.memory.freeable:filter(eq("tag","${DB_TAGS}")):splitBy("dt.entity.relational_database_service"):names:sort(dimension(\"dt.entity.relational_database_service.name\",descending)):limit(20)):limit(100):names"
      ]
    }
  ]
}