{
  "chemaId": "builtin:anomaly-detection.metric-events",
  "schemaVersion": "1.0.3",
  "scope": "environment",
  "value": {
    "enabled": true,
    "summary": "${DB_CLUSTER_NAME}-cpu-alert",
    "queryDefinition": {
      "type": "METRIC_KEY",
      "metricKey": "builtin:cloud.aws.rds.cpu.usage",
      "aggregation": "AVG",
      "entityFilter": {
        "dimensionKey": "dt.entity.relational_database_service",
        "conditions": [
          {
            "type": "NAME",
            "operator": "CONTAINS_CASE_SENSITIVE",
            "value": "${DB_CLUSTER_NAME}-dbinstance"
          },
          {
            "type": "MANAGEMENT_ZONE",
            "operator": "EQUALS",
            "value": "-2021972831921368595"
          }
        ]
      },
      "dimensionFilter": []
    },
    "modelProperties": {
      "type": "STATIC_THRESHOLD",
      "threshold": 10,
      "alertOnNoData": false,
      "alertCondition": "ABOVE",
      "violatingSamples": 3,
      "samples": 5,
      "dealertingSamples": 5
    },
    "eventTemplate": {
      "title": "${DB_CLUSTER_NAME}-cpu-alert",
      "description": "CPU Usage Alert for CIM Databases",
      "eventType": "CUSTOM_ALERT",
      "davisMerge": false,
      "metadata": []
    },
    "eventEntityDimensionKey": "dt.entity.relational_database_service",
    "legacyId": "e9a88a52-26bc-42b3-8f1e-2ed71c97d19d"
  }
}