[
  {
    "scope": "environment",
    "schemaId": "agm:zis.notification",
    "schemaVersion": 1.3,
    "value": {
      "enabled": true,
      "type": "ZIS",
      "alertingProfile": "Default",
      "displayName": "Dagobert Zis Default Notification",
      "severity": "Warning",
      "customerMessage": "Dagobert ZIS Test Message",
      "email": "${EMAIL_RECEPIENTS}"
    }
  }
]