{
  "schemaId": "builtin:problem.notifications",
  "schemaVersion": "1.4.11",
  "scope": "environment",
  "value": {
    "enabled": true,
    "type": "WEBHOOK",
    "displayName": "snownf-${MANAGEMENT_ZONE}_preprod",
    "webHookNotification": {
      "url": "https://aztech.service-now.com/api/sn_em_connector/em/inbound_event?source=AZEM_AZTEC_DT",
      "acceptAnyCertificate": false,
      "notifyEventMergesEnabled": false,
      "notifyClosedProblems": true,
      "useOAuth2": false,
      "headers": [{
        "name": "Authorization",
        "secret": true,
        "secretValue": "***602***"
      }],
      "payload": {
        "event_type": "{ProblemTitle}",
        "event_id":  "{PID}-{ProblemID}",
        "dt_ProblemSeverity":  "{ProblemSeverity}",
        "message":  "{ProblemTitle}",
        "description":  "{ProblemDetailsText}",
        "message_type":  "{State}",
        "ci_type":  "{ProblemImpact}",
        "ci_name":  "{ImpactedEntity}",
        "dt_ImpactedEntities": "{ImpactedEntities}",
        "source_link":  "{ProblemURL}",
        "dt_Tags":  "{Tags}",
        "dt_customerMessage":  "dagobert_test",
        "inc_priority":  "P3",
        "inc_symptom":  "Error Message",
        "frontDesk":  "N",
        "notify_email":  "datenbanken.cloudops@allianz.de",
        "notify_sms":  "",
        "notify_voice":  "",
        "dt_managementZone":  "${MANAGEMENT_ZONE}"
      }
    },
    "alertingProfile": "apso-mz-az-tech-dagobert-Default"
  }
}