{
  "schemaId": "builtin:anomaly-detection.metric-events",
  "schemaVersion": "1.0.3",
  "scope": "environment",
  "value": {
    "enabled": true,
    "summary": "${DB_CLUSTER_NAME}-readiops-alert",
    "queryDefinition": {
      "type": "METRIC_KEY",
      "metricKey": "builtin:cloud.aws.rds.ops.read",
      "aggregation": "AVG",
      "entityFilter": {
        "dimensionKey": "dt.entity.relational_database_service",
        "conditions": [
          {
            "type": "NAME",
            "operator": "CONTAINS_CASE_SENSITIVE",
            "value": "${DB_CLUSTER_NAME}-dbinstance"
          },
          {
            "type": "MANAGEMENT_ZONE",
            "operator": "EQUALS",
            "value": "-2021972831921368595"
          }
        ]
      },
      "dimensionFilter": []
    },
    "modelProperties": {
      "type": "STATIC_THRESHOLD",
      "threshold": 25000,
      "alertOnNoData": false,
      "alertCondition": "ABOVE",
      "violatingSamples": 5,
      "samples": 30,
      "dealertingSamples": 30
    },
    "eventTemplate": {
      "title": "${DB_CLUSTER_NAME}-readiops-alert",
      "description": "Custom Alert for high read IOPS usage",
      "eventType": "CUSTOM_ALERT",
      "davisMerge": false,
      "metadata": []
    },
    "eventEntityDimensionKey": "dt.entity.relational_database_service",
    "legacyId": "d79e4a43-b453-4c28-86ee-c30ace90d387"
  }
}