[
  {
    "scope": "environment",
    "schemaId": "builtin:problem.notifications",
    "schemaVersion": 1.3,
    "value": {
      "enabled": true,
      "type": "EMAIL",
      "displayName": "Dagobert Email Notification",
      "emailNotification": {
        "recipients": "${EMAIL_RECEPIENTS}",
        "subject": "{State} Problem {ProblemID}: {ImpactedEntity}",
        "notifyClosedProblems": true,
        "body": "{ProblemDetailsHTML}"
      },
      "alertingProfile": "Default"
    }
  }
]