[
  {
    "schemaId": "agm:zis.notification",
    "scope": "environment",
    "schemaVersion": "1.3.1",
    "value": {
      "type": "ZIS",
      "zis_stage": "prod",
      "customerMessage": "dagobert_test",
      "email": [
        "${EMAIL_RECIPIENTS}"
      ],
      "displayName": "${MANAGEMENT_ZONE} - ${DASHBOARD_NAME} ZIS Notification",
      "alertingProfile": "${ALERTING_PROFILE}",
      "enabled": true
    }
  }
]