{
  "schemaId": "builtin:problem.notifications",
  "schemaVersion": "1.4.11",
  "scope": "environment",
  "value": {
    "enabled": true,
    "type": "EMAIL",
    "displayName": "${MANAGEMENT_ZONE} - ${DASHBOARD_NAME} Email Notification",
    "emailNotification": {
      "recipients": [
        "${EMAIL_RECIPIENTS}"
      ],
      "ccRecipients": [],
      "bccRecipients": [],
      "subject": "{State} Problem {ProblemID}: {ImpactedEntity}",
      "notifyClosedProblems": true,
      "body": "{ProblemDetailsHTML}"
    },
    "alertingProfile": "${ALERTING_PROFILE}"
  }
}