 {
  "metadata": {
    "configurationVersions": [
      7
    ],
    "clusterVersion": "1.272.109.20230809-133453"
  },
  "id": "7f6d265c-d59b-4d4a-ad58-f308b3361d64",
  "dashboardMetadata": {
    "name": "${MANAGEMENT_ZONE} - ${DASHBOARD_NAME} Dashboard",
    "shared": true,
    "owner": "extern.binder_david@allianz.de",
    "dashboardFilter": {
      "managementZone": {
        "id": "-2021972831921368595",
        "name": "${MANAGEMENT_ZONE}"
      }
    },
    "tags": [
      "cac_managed",
      "@${MANAGEMENT_ZONE}"
    ],
    "dynamicFilters": {
      "filters": [
        "HOST_TAG_KEY:${DB_TAGS}"
      ],
      "genericTagFilters": []
    },
    "tilesNameSize": "medium",
    "hasConsistentColors": false
  },
  "tiles": [
    {
      "name": "${PARAM1_NAME}",
      "tileType": "DATA_EXPLORER",
      "configured": true,
      "bounds": {
        "top": 38,
        "left": 38,
        "width": 494,
        "height": 418
      },
      "tileFilter": {},
      "isAutoRefreshDisabled": false,
      "customName": "Data explorer results",
      "queries": [
        {
          "id": "A",
          "metric": "${PARAM1_GRAPH}",
          "spaceAggregation": "${PARAM1_AGGREGATION}",
          "timeAggregation": "DEFAULT",
          "splitBy": [
            "dt.entity.relational_database_service"
          ],
          "sortBy": "DESC",
          "sortByDimension": "",
          "filterBy": {
            "nestedFilters": [],
            "criteria": []
          },
          "limit": 20,
          "rate": "NONE",
          "enabled": true
        }
      ],
      "visualConfig": {
        "type": "GRAPH_CHART",
        "global": {
          "hideLegend": false
        },
        "rules": [
          {
            "matcher": "A:",
            "properties": {
              "color": "DEFAULT"
            },
            "seriesOverrides": []
          }
        ],
        "axes": {
          "xAxis": {
            "displayName": "",
            "visible": true
          },
          "yAxes": [
            {
              "displayName": "",
              "visible": true,
              "min": "AUTO",
              "max": "AUTO",
              "position": "LEFT",
              "queryIds": [
                "A"
              ],
              "defaultAxis": true
            }
          ]
        },
        "heatmapSettings": {
          "yAxis": "VALUE",
          "showLabels": false
        },
        "thresholds": [
          {
            "axisTarget": "LEFT",
            "rules": [
              {
                "value": 0,
                "color": "#7dc540"
              },
              {
                "value": "${PARAM1_THRESHOLD_ORANGE}",
                "color": "#f5d30f"
              },
              {
                "value": "${PARAM1_THRESHOLD_RED}",
                "color": "#dc172a"
              }
            ],
            "queryId": "",
            "visible": true
          }
        ],
        "tableSettings": {
          "isThresholdBackgroundAppliedToCell": false,
          "hiddenColumns": []
        },
        "graphChartSettings": {
          "connectNulls": false
        },
        "honeycombSettings": {
          "showHive": true,
          "showLegend": true,
          "showLabels": false
        }
      },
      "queriesSettings": {
        "resolution": ""
      },
      "metricExpressions": [
        "resolution=null&(${PARAM1_GRAPH}:splitBy(\"dt.entity.relational_database_service\"):avg:sort(value(avg,descending)):limit(20)):limit(100):names"
      ]
    },
    {
      "name": "${PARAM2_NAME}",
      "tileType": "DATA_EXPLORER",
      "configured": true,
      "bounds": {
        "top": 38,
        "left": 570,
        "width": 494,
        "height": 418
      },
      "tileFilter": {},
      "isAutoRefreshDisabled": false,
      "customName": "Data explorer results",
      "queries": [
        {
          "id": "A",
          "metric": "${PARAM2_GRAPH}",
          "spaceAggregation": "${PARAM2_AGGREGATION}",
          "timeAggregation": "DEFAULT",
          "splitBy": [
            "dt.entity.relational_database_service"
          ],
          "sortBy": "DESC",
          "sortByDimension": "",
          "filterBy": {
            "nestedFilters": [],
            "criteria": []
          },
          "limit": 20,
          "rate": "NONE",
          "enabled": true
        }
      ],
      "visualConfig": {
        "type": "GRAPH_CHART",
        "global": {
          "hideLegend": false
        },
        "rules": [
          {
            "matcher": "A:",
            "properties": {
              "color": "DEFAULT"
            },
            "seriesOverrides": []
          }
        ],
        "axes": {
          "xAxis": {
            "displayName": "",
            "visible": true
          },
          "yAxes": [
            {
              "displayName": "",
              "visible": true,
              "min": "AUTO",
              "max": "AUTO",
              "position": "LEFT",
              "queryIds": [
                "A"
              ],
              "defaultAxis": true
            }
          ]
        },
        "heatmapSettings": {
          "yAxis": "VALUE",
          "showLabels": false
        },
        "thresholds": [
          {
            "axisTarget": "LEFT",
            "rules": [
              {
                "value": 0,
                "color": "#7dc540"
              },
              {
                "value": "${PARAM2_THRESHOLD_ORANGE}",
                "color": "#f5d30f"
              },
              {
                "value": "${PARAM2_THRESHOLD_RED}",
                "color": "#dc172a"
              }
            ],
            "queryId": "",
            "visible": true
          }
        ],
        "tableSettings": {
          "isThresholdBackgroundAppliedToCell": false,
          "hiddenColumns": []
        },
        "graphChartSettings": {
          "connectNulls": false
        },
        "honeycombSettings": {
          "showHive": true,
          "showLegend": true,
          "showLabels": false
        }
      },
      "queriesSettings": {
        "resolution": "1m"
      },
      "metricExpressions": [
        "resolution=1m&(${PARAM2_GRAPH}:splitBy(\"dt.entity.relational_database_service\"):avg:sort(value(avg,descending)):limit(20)):limit(100):names"
      ]
    },
    {
      "name": "${PARAM3_NAME}",
      "tileType": "DATA_EXPLORER",
      "configured": true,
      "bounds": {
        "top": 38,
        "left": 1102,
        "width": 494,
        "height": 418
      },
      "tileFilter": {},
      "isAutoRefreshDisabled": false,
      "customName": "Data explorer results",
      "queries": [
        {
          "id": "A",
          "metric": "${PARAM3_GRAPH}",
          "spaceAggregation": "${PARAM3_AGGREGATION}",
          "timeAggregation": "DEFAULT",
          "splitBy": [
            "dt.entity.relational_database_service"
          ],
          "sortBy": "DESC",
          "sortByDimension": "",
          "filterBy": {
            "nestedFilters": [],
            "criteria": []
          },
          "limit": 20,
          "rate": "NONE",
          "enabled": true
        }
      ],
      "visualConfig": {
        "type": "GRAPH_CHART",
        "global": {
          "hideLegend": false
        },
        "rules": [
          {
            "matcher": "A:",
            "properties": {
              "color": "DEFAULT"
            },
            "seriesOverrides": []
          }
        ],
        "axes": {
          "xAxis": {
            "displayName": "",
            "visible": true
          },
          "yAxes": [
            {
              "displayName": "",
              "visible": true,
              "min": "AUTO",
              "max": "AUTO",
              "position": "LEFT",
              "queryIds": [
                "A"
              ],
              "defaultAxis": true
            }
          ]
        },
        "heatmapSettings": {
          "yAxis": "VALUE",
          "showLabels": false
        },
        "thresholds": [
          {
            "axisTarget": "LEFT",
            "rules": [
              {
                "value": 0,
                "color": "#7dc540"
              },
              {
                "value": "${PARAM3_THRESHOLD_ORANGE}",
                "color": "#f5d30f"
              },
              {
                "value": "${PARAM3_THRESHOLD_RED}",
                "color": "#dc172a"
              }
            ],
            "queryId": "",
            "visible": true
          }
        ],
        "tableSettings": {
          "isThresholdBackgroundAppliedToCell": false,
          "hiddenColumns": []
        },
        "graphChartSettings": {
          "connectNulls": false
        },
        "honeycombSettings": {
          "showHive": true,
          "showLegend": true,
          "showLabels": false
        }
      },
      "queriesSettings": {
        "resolution": ""
      },
      "metricExpressions": [
        "resolution=null&(${PARAM3_GRAPH}:splitBy(\"dt.entity.relational_database_service\"):avg:sort(value(avg,descending)):limit(20)):limit(100):names"
      ]
    },
    {
      "name": "${PARAM4_NAME}",
      "nameSize": "medium",
      "tileType": "DATA_EXPLORER",
      "configured": true,
      "bounds": {
        "top": 456,
        "left": 304,
        "width": 494,
        "height": 380
      },
      "tileFilter": {},
      "isAutoRefreshDisabled": false,
      "customName": "Data explorer results",
      "queries": [
        {
          "id": "A",
          "metric": "${PARAM4_GRAPH}",
          "spaceAggregation": "${PARAM4_AGGREGATION}",
          "timeAggregation": "DEFAULT",
          "splitBy": [
            "dt.entity.relational_database_service"
          ],
          "sortBy": "DESC",
          "sortByDimension": "",
          "filterBy": {
            "nestedFilters": [],
            "criteria": []
          },
          "limit": 20,
          "rate": "NONE",
          "enabled": true
        }
      ],
      "visualConfig": {
        "type": "GRAPH_CHART",
        "global": {
          "hideLegend": false
        },
        "rules": [
          {
            "matcher": "A:",
            "unitTransform": "GigaByte",
            "valueFormat": "auto",
            "properties": {
              "color": "DEFAULT",
              "seriesType": "LINE"
            },
            "seriesOverrides": []
          }
        ],
        "axes": {
          "xAxis": {
            "displayName": "",
            "visible": true
          },
          "yAxes": [
            {
              "displayName": "",
              "visible": true,
              "min": "AUTO",
              "max": "AUTO",
              "position": "LEFT",
              "queryIds": [
                "A"
              ],
              "defaultAxis": true
            }
          ]
        },
        "heatmapSettings": {
          "yAxis": "VALUE",
          "showLabels": false
        },
        "thresholds": [
          {
            "axisTarget": "LEFT",
            "rules": [
              {
                "value": 0,
                "color": "#7dc540"
              },
              {
                "value": "${PARAM4_THRESHOLD_ORANGE}",
                "color": "#f5d30f"
              },
              {
                "value": "${PARAM4_THRESHOLD_RED}",
                "color": "#dc172a"
              }
            ],
            "queryId": "",
            "visible": true
          }
        ],
        "tableSettings": {
          "isThresholdBackgroundAppliedToCell": false,
          "hiddenColumns": []
        },
        "graphChartSettings": {
          "connectNulls": false
        },
        "honeycombSettings": {
          "showHive": true,
          "showLegend": true,
          "showLabels": false
        }
      },
      "queriesSettings": {
        "resolution": "1m"
      },
      "metricExpressions": [
        "resolution=1m&(${PARAM4_GRAPH}:splitBy(\"dt.entity.relational_database_service\"):avg:sort(value(avg,descending)):limit(20)):limit(100):names"
      ]
    },
    {
      "name": "${PARAM5_NAME}",
      "tileType": "DATA_EXPLORER",
      "configured": true,
      "bounds": {
        "top": 456,
        "left": 836,
        "width": 494,
        "height": 380
      },
      "tileFilter": {},
      "isAutoRefreshDisabled": false,
      "customName": "Data explorer results",
      "queries": [
        {
          "id": "A",
          "metric": "${PARAM5_GRAPH}",
          "spaceAggregation": "${PARAM5_AGGREGATION}",
          "timeAggregation": "DEFAULT",
          "splitBy": [
            "dt.entity.relational_database_service"
          ],
          "sortBy": "DESC",
          "sortByDimension": "",
          "filterBy": {
            "nestedFilters": [],
            "criteria": []
          },
          "limit": 20,
          "rate": "NONE",
          "enabled": true
        }
      ],
      "visualConfig": {
        "type": "GRAPH_CHART",
        "global": {
          "hideLegend": false
        },
        "rules": [
          {
            "matcher": "A:",
            "unitTransform": "MebiByte",
            "valueFormat": "auto",
            "properties": {
              "color": "DEFAULT",
              "seriesType": "LINE"
            },
            "seriesOverrides": []
          }
        ],
        "axes": {
          "xAxis": {
            "displayName": "",
            "visible": true
          },
          "yAxes": [
            {
              "displayName": "",
              "visible": true,
              "min": "AUTO",
              "max": "AUTO",
              "position": "LEFT",
              "queryIds": [
                "A"
              ],
              "defaultAxis": true
            }
          ]
        },
        "heatmapSettings": {
          "yAxis": "VALUE",
          "showLabels": false
        },
        "thresholds": [
          {
            "axisTarget": "LEFT",
            "rules": [
              {
                "value": 2,
                "color": "#7dc540"
              },
              {
                "value": "${PARAM5_THRESHOLD_ORANGE}",
                "color": "#f5d30f"
              },
              {
                "value": "${PARAM5_THRESHOLD_RED}",
                "color": "#dc172a"
              }
            ],
            "queryId": "",
            "visible": true
          }
        ],
        "tableSettings": {
          "isThresholdBackgroundAppliedToCell": false,
          "hiddenColumns": []
        },
        "graphChartSettings": {
          "connectNulls": true
        },
        "honeycombSettings": {
          "showHive": true,
          "showLegend": true,
          "showLabels": false
        }
      },
      "queriesSettings": {
        "resolution": ""
      },
      "metricExpressions": [
        "resolution=null&(${PARAM5_GRAPH}.freeable:splitBy(\"dt.entity.relational_database_service\"):avg:sort(value(avg,descending)):limit(20)):limit(100):names"
      ]
    }
  ]
}